body{
  background: #0a0a23;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#fff;
  margin: 10px;
}

* {
  margin: 10px;
}

select{
  border:none;
  padding: 2px 20px;
  border-radius:5px;
  margin: 10px;
}

select:focus{
  outline:none;
}

/* * {
  font-size: 30px;
} */